/* font-family: "Cuprum Regular"; */
@font-face {
	font-family: "Cuprum Regular";
		src: url("../fonts/Cuprum-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cuprum Bold";
		src: url("../fonts/Cuprum-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Cuprum Italic";
	src: url("../fonts/Cuprum-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Cuprum Bold Ttalic";
	src: url("../fonts/Cuprum-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
/* font-family: "Cuprum"; */
/************************/
/* font-family: "PT Sans"; */
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PT Sans Bold";
	src: url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
/* font-family: "PT Sans"; */
body {
	font-family: "Cuprum Regular", sans-serif;
}
em, i {
	font-family: "Cuprum Italic";
}
.main-header {
	display: flex;
	flex-direction: column;
	background-color: #f3f7f8;
}

.header-top {
	margin-bottom: 50px;
	background-color: #293449;
}
.header-top a {
	color: #fff;
	text-decoration: none;
}
.main-search button {
	position: absolute;
	top: 12px;
	left: 17px;
	padding: 0;
	border: none;
	background-color: inherit;
}
.icon-search {
	fill: rgba(255, 255, 255, 0.3);
}
.form-search:hover .icon-search {
	fill: rgba(255, 255, 255, 1);
	transition: 0.2s;
}
.form-search input:focus .icon-search {
	fill: rgba(255, 83, 87, 1);
}
.container {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.column {
	flex-direction: column;
}
.top-menu {
	padding: 0;
	margin: 0;
}
.top-menu li {
	position: relative;
	width: 150px;
	display: inline-block;
	list-style: none;
	margin-right: -4px;
	text-decoration: none;
}
.top-menu li:last-child {
	margin-right: 0;
}
.top-menu a {
	display: block;
	padding: 12px 30px 12px 40px;
	white-space: nowrap;
}
.top-menu a:hover {
	background-color: #212a3a;
}
.top-menu a:active {
	background-color: #161d29;
}

.top-menu li:last-child a {
	padding: 12px 0 12px 20px;
	background-color: #63a63e;
}
.top-menu li:last-child a:hover {
	background-color: #5fbb2d;
}
.top-menu li:last-child a:active {
	background-color: #518534;
}
.top-menu__icons {
	position: absolute;
	top: 12px;
	left: 17px;
}
.icon-bookmark {
	fill: rgba(255, 255, 255, 0.3);
}
a:hover .icon-bookmark {
	fill: rgba(255, 255, 255, 1);
}
a:active .icon-bookmark {
	fill: rgba(255, 255, 255, 0.5);
}
.icon-cart {
	fill: rgba(255, 255, 255, 0.3);
}
a:hover .icon-cart {
	fill: rgba(255, 255, 255, 1);
}
a:active .icon-cart {
	fill: rgba(255, 255, 255, 0.5);
}
.logo {
	width: 220px;
	background-color: #ee3643;
	position: relative;
}
.logo a {
	display: block;
	text-align: center;
	vertical-align: middle;
	padding: 7.5px 55px;
	text-transform: uppercase;
	font-size: 24px;
}
.logo::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #b52933;

}
.main-search .form-search {
	width: 270px;
	position: relative;
}
.main-search .form-search input {
	height: 42px;
	width: 100%;
	padding-left: 50px;
	border: 0;
	background-color: #293449;
	outline: none;
	color: #fff;
}
.main-search .form-search input::placeholder {
	color: #fff;
}
.main-search .form-search input:hover {
	background-color: #212a3a;
}
.main-search .form-search input:focus {
	background-color: #fff;
	color: #000;
}
.main-search .form-search input::-webkit-search-cancel-button {
	display: none;
}
.main-search .form-search input::-ms-clear {
	display: none;
}

.users-wrap {
	display: flex;
	flex: 1 0 auto;
	width: 940px;
	align-items: flex-start;
	margin-bottom: 45px;
}
.title-text {
	width: 200px;
	margin-right: 20px;
	padding: 0 50px;
	color: #ee434f;
	line-height: 23px;
	font-size: 16px;
}
.title-contacts {
	display: flex;
	flex-direction: column;
}
.title-number {
	border: 3px solid #fff;
	margin-bottom: 5px;
}
.title-number a {
	display: block;
	padding: 7px 50px;
	text-decoration: none;
	text-align: center;
	color: #ee434f;
	font-size: 21px;
}
.user-block {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
}
.user-block a {
	text-decoration: none;
	color: #000;
	font-size: 21px;
}
.user-block a:hover {
	color: #ee3643;
}
.user-block a:active {
	color: #b2b2b2;
}
.login a {
	display: block;
	padding: 10px 27px 10px 50px;
	background-color: #fff;
}
.title-address {
	text-align: center;
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	vertical-align: baseline;
}
.registration {
	margin-left: 10px;
}
.registration a {
	display: block;
	padding: 10px 25px;
	background-color: #fff;
}
nav {
	width: 100%;
	margin-bottom: 60px;
}
.nav-menu {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}
.nav-menu li {
	flex: 1;
	list-style: none;
	text-align: center;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}
.nav-menu li:hover {
	background-color: #293449;
}
.nav-menu li:active {
	background-color: #1d2739;
	border-bottom: 5px solid #1d2739;
}
.nav-menu li a {
	display: block;
	text-decoration: none;
	padding: 20px 30px;
	color: #fff;
	font-size: 17px;
}
.nav-menu li:first-child a {
	padding-left: 55px;
}
.nav-menu li:last-child a {
	padding-right: 55px;
}
.promo-items {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}
.promo-items-wrap {
	display: flex;
	justify-content: space-between;
}
.promo-items.col-1 {
	width: 620px;
}
.promo-items.col-2 {
	width: 300px;
	margin-left: auto;
	align-content: space-between;
}

.promo-item {
	width: 300px;
	padding: 25px 0 22px 25px;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}
.col-2 .promo-item {
	margin-bottom: 20px;
}
.col-1 .promo-item:nth-child(1) {
	background-color: #ffbf47;
}
.col-1 .promo-item:nth-child(2) {
	background-color: #3bbce3;
}
.col-2 .promo-item:nth-child(1) {
	background-color: #dc91d8;
}
.col-2 .promo-item:nth-child(2) {
	background-color: #8ed78f;
}
.col-2 .promo-item:nth-child(3) {
	background-color: #ffbf47;
}
.promo-item * {
	color: #fff;
}
.promo-item span {
	display: block;
	margin-bottom: 15px;
	font-size: 24px;
}
.promo-item a {
	display: block;
	width: 135px;
	padding: 12px 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
}
.promo-stock {
	position: relative;
}
.promo-item.promo-stock::after {
	content: "new";
	text-align: center;
	padding: 7px 0;
	transform: rotate(45deg);
	background-color: #ff5357;
	color: #fff;
	width: 100px;
	position: absolute;
    right: -28px;
    top: 4px;
}
.promo-item img {
	position: absolute;
	top: 50%;
	right: 70px;
	margin: -8px;
}
.populars {
	display: flex;
	width: 100%;
	padding: 25px 24px 25px 30px;
	align-items: center;
	margin-bottom: 20px;
}
.populars a {
	margin-left: auto;
	padding: 14px 55px;
}
.popular-items {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}
.pop-item {
	display: flex;
	flex-direction: column;
	width: 220px;
	padding: 20px 30px;
	box-sizing: border-box;
}
.pop-item span {
	text-align: center;
}
.pop-manufacturers {
	width: 100%;
}
.pop-manufacturer {
	display: inline-block;
	width: 220px;
	height: 145px;
	margin-right: 16px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 145px;
}
.pop-manufacturer:nth-child(4n) {
	margin-right: -4px;
}
.pop-manufacturer img {
	vertical-align: middle;
}
.main-content {
	margin-bottom: 85px;
}
.servises {
	width: 100%
}
.tabs-servises {
	margin-right: 80px;
}
.btm-servises {
	list-style: none;
}
.btm-servises button {
	padding: 20px 0 20px 20px;
	min-width: 240px;
	text-align: left;
}
.descr-servises {
	width: 300px;
	align-self: center;
	margin-right: 135px;
}
.image-servises {
	align-self: center;
}
.main-servises {
	margin-bottom: 80px;
}
.main-about-left {
	width: 550px;
	margin-right: 90px;
}
.main-about-left ul {
	padding-left: 35px;
	margin-bottom: 30px;
}
.main-about-left ul li {
	list-style: none;
	padding: 7px 0;
}
.main-about-left ul li {
	list-style: none;
	position: relative;
}
.main-about-left ul li::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: -35px;
	width: 25px;
	height: 2px;
	background-color: red;
}
.main-about-right {
	width: 300px;
}
.more-about {
	display: inline-block;
	padding: 14px 40px;
}
.foot-contacts {
	width: 350px;
}
.foot-contacts .logo a.logo-bottom {
	padding: 20px 55px;
}
.foot-contacts p {
	margin: 20px 0;
}
.footer-navigation {
	width: 550px;
	margin-left: auto;
}
.foot-nav-menu {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-navigation ul {
	margin: 30px 0;
}
.footer-navigation li {
	margin-left: 60px;
}
.footer-navigation li:first-child {
	margin-left: 0;
}
.fot-nav-catalog {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
}
.second-footer {
	padding: 40px 0 35px;
}
.second-footer .container {
	justify-content: space-between;
	margin-bottom: 0;
}
.copyright {
	display: flex;
}
.copyright .feedback {
	margin-right: 50px;
}
