/* font-family: "Cuprum";
@font-face {
	font-family: "Cuprum";
		src: url("../fonts/Cuprum-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cuprum";
		src: url("../fonts/Cuprum-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Cuprum";
	src: url("../fonts/Cuprum-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Cuprum";
	src: url("../fonts/Cuprum-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
font-family: "Cuprum";
**********************
font-family: "PT Sans";
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
font-family: "PT Sans"; */
body {
	font-family: "Cuprum", sans-serif;
}
em, i {
	font-family: "Cuprum";
	font-style: italic;
}
.main-header {
	display: flex;
	flex-direction: column;
	background-color: #f3f7f8;
}

.header-top {
	margin-bottom: 46px;
	background-color: #293449;
}
.header-top a {
	color: #fff;
	text-decoration: none;
}
.form-search__btn {
	position: absolute;
	top: 12px;
	left: 17px;
	padding: 0;
	border: none;
	background-color: #293449;
	cursor: pointer;
}
.form-search__btn:focus {
	outline: none;
}
.icon-search {
	fill: rgba(255, 255, 255, 0.3);
}
.form-search:hover .icon-search {
	fill: rgba(255, 255, 255, 1);
	transition: 0.1s;
}
.form-search__input:focus + .form-search__btn {
	background-color: #fff;
}
.form-search__input:focus + .form-search__btn .icon-search {
	fill: rgba(255, 83, 87, 1);
	transition: 0.3s;
}
.container {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.column {
	flex-direction: column;
}
.top-menu {
	padding: 0;
	margin: 0;
}
.top-menu li {
	position: relative;
	width: 150px;
	display: inline-block;
	list-style: none;
	margin-right: -4px;
	text-decoration: none;
}
.top-menu li:last-child {
	margin-right: 0;
}
.top-menu a {
	display: block;
	padding: 12px 30px 12px 45px;
	white-space: nowrap;
	font-size: 17px;
	line-height: 18px;
}
.top-btn:nth-child(2) a {
	padding-left: 50px;
}
.top-menu a:hover {
	background-color: #212a3a;
}
.top-menu a:active {
	background-color: #161d29;
}

.top-menu li:last-child a {
	padding: 12px 0 12px 20px;
	background-color: #63a63e;
}
.top-menu li:last-child a:hover {
	background-color: #5fbb2d;
}
.top-menu li:last-child a:active {
	background-color: #518534;
}
.top-menu__icons {
	position: absolute;
	top: 12px;
	left: 17px;
}
.icon-bookmark {
	fill: rgba(255, 255, 255, 0.3);
}
a:hover .icon-bookmark {
	fill: rgba(255, 255, 255, 1);
}
a:active .icon-bookmark {
	fill: rgba(255, 255, 255, 0.5);
}
.icon-cart {
	fill: rgba(255, 255, 255, 0.3);
}
a:hover .icon-cart {
	fill: rgba(255, 255, 255, 1);
}
a:active .icon-cart {
	fill: rgba(255, 255, 255, 0.5);
}
.logo {
	width: 220px;
	position: relative;
}
.logo a {
	display: block;
	text-align: center;
	vertical-align: middle;
	padding: 9px 55px;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	background-color: #ee3643;
}
.logo a:hover {
	background-color: #ca2c37;
}
.logo a:active {
	background-color: #ba2732;
}
.logo::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #b52933;

}
.main-search .form-search {
	width: 270px;
	position: relative;
	margin-bottom: 0;
}
.main-search .form-search input {
	height: 42px;
	width: 100%;
	padding-left: 50px;
	border: 0;
	background-color: #293449;
	outline: none;
	color: #fff;
}
.main-search .form-search input::placeholder {
	color: #fff;
}
.main-search .form-search input:hover {
	background-color: #212a3a;
}
.main-search .form-search input:focus {
	background-color: #fff;
	color: #000;
}
.main-search .form-search input::-webkit-search-cancel-button {
	display: none;
}
.main-search .form-search input::-ms-clear {
	display: none;
}

.users-wrap {
	display: flex;
	flex: 1 0 auto;
	width: 940px;
	align-items: flex-start;
	margin-bottom: 45px;
}
.title-text {
	width: 200px;
	margin-right: 20px;
	padding: 0 50px;
	color: #ee434f;
	line-height: 23px;
	font-size: 16px;
}
.title-contacts {
	display: flex;
	flex-direction: column;
}
.title-number {
	position: relative;
	border: 3px solid #fff;
	margin-bottom: 5px;
}
.title-number a {
	display: block;
	padding: 9px 50px 9px 70px;
	text-decoration: none;
	text-align: center;
	color: #ee434f;
	font-size: 21px;
	line-height: 21px;
}
.user-block {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	position: relative;
	flex-wrap: wrap;
	width: 340px;
}
.user-block > a {
	text-decoration: none;
	color: #000;
	font-size: 21px;
	line-height: 21px;
	position: relative;
	background-color: #fff;
}
.user-block a:hover {
	color: #ee3643;
}
.user-block a:active {
	color: #b2b2b2;
}
.login {
	padding: 12px 27px 12px 50px;
}
.logged-links-inner {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-right: 20px;
	padding-top: 8px;
}
.user-block__logged-link {
	color: #32425c;
	padding: 0 13px;
}
.user-block__dot {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #32425c;
	align-self: center;
}
.icon-phone {
	position: absolute;
	top: 10px;
	left: 13px;
}
.title-address {
	text-align: center;
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	vertical-align: baseline;
}
.registration {
	margin-left: 10px;
	padding: 12px 25px;
}
.user-acc {
	padding: 12px 29px 12px 47px;
}
.icon-login {
	position: absolute;
	top: 14px;
	left: 14px;
}
.icon-user {
	position: absolute;
	top: 14px;
	left: 14px;
}
.user-block .user-logout {
	padding: 10px;
	display: flex;
	align-items: center;
}
.user-acc:hover path,
.login:hover path,
.user-logout:hover path {
	fill: #32425c;
}
.user-acc:active path,
.login:active path,
.user-logout:active path {
	fill: #c5c5c5;
}
.registration a:hover {
	color: #ff5357;
}
.user-acc:hover .user-name {
	color: #000;
}
.user-acc:active .user-name {
	color: #b2b2b2;
}
nav {
	width: 100%;
	margin-bottom: 60px;
}
.nav-menu {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}
.nav-menu li {
	flex: 1 0 auto;
	list-style: none;
	text-align: center;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}
.nav-menu li:hover {
	background-color: #293449;
}
.nav-menu li:active {
	background-color: #1d2739;
	border-bottom: 5px solid #1d2739;
}
.nav-menu li a {
	display: block;
	text-decoration: none;
	padding: 20px 30px;
	color: #fff;
	font-size: 17px;
}
.nav-menu li:first-child a {
	padding-left: 55px;
}
.nav-menu li:last-child a {
	padding-right: 55px;
}
.promo-items {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	margin-bottom: 50px;
}
.promo-items-wrap {
	display: flex;
	justify-content: space-between;
}
.promo-items.col-1 {
	width: 620px;
	justify-content: space-between;
}
.promo-items.col-2 {
	width: 300px;
	margin-left: auto;
	align-content: space-between;
}

.promo-item {
	width: 300px;
	padding: 21px 0 22px 25px;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}
.slide-item {
	position: relative;
}
.slide-item img.image2 {
	position: absolute;
	top: 0;
}
.slide-item img.image3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 332px;
}
.slider {
	position: relative;
}
.red-btn {
	display: block;
	box-sizing: border-box;
	background-color: #ee3643;
	padding: 10px 50px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
}
.red-btn:hover {
	background-color: #ca2c37;
}
.red-btn:active {
	background-color: #ba2732;
}
.red-btn:focus {
	outline: none;
}
.slider-btn {
	position: absolute;
	bottom: 22px;
	left: 25px;
	z-index: 1;
}
.slider-future-title {
	position: absolute;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	top: 25px;
	left: 25px;
	z-index: 1;
	font-size: 36px;
}
.slider-future-text {
	position: absolute;
	color: #fff;
	top: 65px;
	left: 25px;
	z-index: 1;
	font-size: 18px;
}
.col-2 .promo-item {
	margin-bottom: 20px;
}
.col-1 .promo-item:nth-child(1) {
	background-color: #ffbf47;
}
.col-1 .promo-item:nth-child(2) {
	background-color: #3bbce3;
}
.col-2 .promo-item:nth-child(1) {
	background-color: #dc91d8;
}
.col-2 .promo-item:nth-child(2) {
	background-color: #8ed78f;
}
.col-2 .promo-item:nth-child(3) {
	background-color: #ffbf47;
	margin-bottom: 0;
}
.promo-item * {
	color: #fff;
}
.promo-item__promo-title {
	display: block;
	margin-bottom: 15px;
	font-size: 24px;
}
.promo-item a {
	display: block;
	width: 135px;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
}
.promo-item a:hover {
	background-color: rgba(0,0,0,0.2);
}
.promo-item a:active {
	background-color: rgba(0,0,0,0.3);
}
.promo-stock {
	position: relative;
}
.promo-stock::after {
	content: "new";
	text-align: center;
	padding: 2px 0 6px;
	transform: rotate(45deg);
	background-color: #ff5357;
	color: #fff;
	width: 100px;
	position: absolute;
	right: -32px;
	top: 6px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    line-height: 16px;
}
.promo-item__promo-icon {
	position: absolute;
	top: 50%;
	right: 65px;
	transform: translate(50%,-50%);
}
.populars {
	display: flex;
	width: 100%;
	padding: 25px 24px 26px 30px;
	align-items: center;
	margin-bottom: 20px;
	background-color: #f9f5f0;
}
.populars span {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}
.populars a {
	margin-left: auto;
}
.popular-items {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 20px;
}
.item {
	display: flex;
	flex-direction: column;
	width: 220px;
	box-sizing: border-box;
	overflow: hidden;
	outline: 1px solid #eaeaea;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	padding: 20px 10px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.popular-items .item:nth-child(4n) {
	margin-right: 0;
}
.item__top {
	position: relative;
	flex: 0 0 auto;
}
.item__figure {
	margin: 0;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item__img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}
.item__bottom {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.item__pop-image {
	flex-basis: 160px;
	position: relative;
}
.item .item__link {
	text-align: center;
	padding: 0 20px;
	font-size: 18px;
	margin-bottom: 18px;
	text-decoration: none;
	color: #000;
}
.item .old-price {
	text-decoration: line-through;
	color: #a9a9a9;
	text-align: center;
	font-size: 17px;
	line-height: 19px;
	margin-bottom: 13px;
}
.price-block {
	display: flex;
    margin-top: auto;
    padding-left: 30px;
    align-self: center;
}
.price-block .price {
	font-size: 17px;
    line-height: 18px;
    padding: 10px 20px 10px 35px;
    background-color: #ee3643;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.price-block .triangle {
	border-bottom: 19px solid #ee3643;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    transform: rotate(90deg);
}
.pop-manufacturers {
	width: 100%;
	font-size: 0;
}
.pop-manufacturer {
	display: inline-block;
	width: 220px;
	height: 145px;
	margin-bottom: 20px;
	margin-right: 20px;
	text-align: center;
	line-height: 145px;
	border: 1px solid #eaeaea;
	box-sizing: border-box;
}
.pop-manufacturer:nth-child(4n) {
	margin-right: 0;
}
.pop-manufacturer img {
	vertical-align: middle;
}
.item:hover,
.pop-manufacturer:hover {
	outline-color: transparent;
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.item:hover .item__buttons {
	visibility: visible;
}
.item__buttons {
	visibility: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", sans-serif;
}
.item__in-cart,
.item__in-bookmarks {
	box-sizing: border-box;
	width: 135px;
	height: 38px;
	padding: 5px 11px;
	text-transform: uppercase;
	border-radius: 5px;
	font-family: inherit;
	cursor: pointer;
}
.item__in-cart {
	display: inline-flex;
	background-color: #63a63e;
	color: #fff;
	align-items: center;
	border: 3px solid transparent;
	border-bottom: 3px solid #367315;
	border-right: none;
	border-left: none;
	margin-bottom: 7px;
	position: relative;
}
.item__in-cart:hover {
	background-color: #5fbb2d;
	border-bottom: 3px solid transparent;
}
.item__in-cart svg {
	opacity: 0.3;
}
.item__in-cart:hover svg {
	opacity: 1;
}
.item__in-cart:active {
	background-color: #518534;
	border-color: #518534;
}
.item__in-cart:focus {
	outline: none;
}
.item__in-cart svg {
	flex: 0 0 auto;
	fill: #fff;
}
.item__in-cart span {
	flex: 1 1 auto;
	text-align: center;
	padding: 0 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.item__in-bookmarks {
	border: 3px solid #63a63e;
	background-color: #fff;
	color: #32425c;
}
.item__in-bookmarks:hover {
	border-color: #32425c;
}
.item__in-bookmarks:active {
	 opacity: 0.3;
}
.item__in-bookmarks:focus {
	outline: none;
}
.pop-manufacturer:active {
	opacity: 0.3;
}
.wrap-services {
	position: relative;
	padding-bottom: 100px;
}
.main-content {
	margin-bottom: 85px;
}
.services {
	width: 100%;
	margin-bottom: 50px;
}
.tabs {
	display: flex;
	align-items: flex-start;
}
.tabs__nav {
	margin-right: 80px;
	width: 240px;
}
.tabs__nav-link {
	display: block;
	padding: 15px 23px;
	background-color: #32425c;
	width: 100%;
	color: #fff;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}
.tabs__nav-link:hover {
	background-color: #293449;
}
.tabs__nav-link--active,
.tabs__nav-link--active:hover {
	background-color: #fff;
	color: #32425c;
	border: 1px solid transparent;
}
.tabs__nav ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}
.tabs__nav ul::after {
	content: "";
	position: absolute;
	right: 0;
	top: -50px;
	background-image: url("../img/tabs-shadow.png");
	width: 10px;
	height: 272px;
}
.tabs__item {
	display: none;
	align-items: center;
}
.tabs__item--active {
	display: flex;
}
.image-services {
	position: absolute;
	align-self: center;
	bottom: 0;
	right: 0;
	margin: 0;
	width: 470px;
	text-align: right;
}
.main-services {
	background-color: #f4f7f9;
	padding-top: 50px;
	line-height: 20px;
	font-size: 12px;
}
.title-services,
.title-company,
.company-contacts {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 26px;
}
.main-services p,
.main-about p {
	font-family: 'PT Sans', sans-serif;
	line-height: 24px;
	font-size: 13px;
	margin-bottom: 20px;
}
.delivery-service {
	width: 380px;
}
.item-service__title {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 26px;
	color: #32425c;
	margin-top: 0;
}
.credit-request {
	display: inline-block;
	background-color: #ff5357;
	margin-top: 20px;
	font-size: 14px;
}
.main-about {
	padding: 80px 0;
}
.main-about-left {
	width: 550px;
	margin-right: 90px;
}
.main-about-left ul {
	padding-left: 35px;
	margin-bottom: 40px;
	font-size: 18px;
}
.main-about-left ul li {
	list-style: none;
	padding: 7px 0;
}
.main-about-left ul li {
	list-style: none;
	position: relative;
}
.main-about-left ul li::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: -35px;
	width: 25px;
	height: 2px;
	background-color: red;
}
.main-about-right {
	width: 300px;
}
.more-about {
	display: inline-block;
	padding: 10px 40px;
}
.main-about-right__link-map {
	display: block;
	margin: 27px 0 40px;
}
.contact-us-btn {
	width: 100%;
}
.first-footer {
	background-color: #32425c;
	padding-bottom: 25px;
}
.foot-contacts {
	width: 350px;
}
footer {
	color: #fff;
}
.foot-contacts .logo-bottom {
	padding: 19px 40px;
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	line-height: 30px;
}
.foot-contacts p {
	margin: 30px 0 20px;
}
.footer-navigation {
	width: 550px;
	margin-left: auto;
}
.foot-nav-menu {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-navigation ul {
	margin: 30px 0;
}
.footer-navigation li {
	margin-left: 60px;
}
.footer-navigation li:first-child {
	margin-left: 0;
}
.foot-nav-menu__link {
	color: #fff;
	text-decoration: none;
}
.foot-nav-catalog {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
}
.foot-nav-catalog__link {
	color: #ffd180;
	text-decoration: none;
}
.foot-nav-menu__link:hover,
.foot-nav-catalog__link:hover {
	text-decoration: underline;
}
.foot-nav-menu__link:active,
.foot-nav-catalog__link:active {
	text-decoration: none;
	opacity: .5;
}
.second-footer {
	padding: 40px 0 35px;
	background-color: #293449;
}
.second-footer .container {
	margin-bottom: 0;
}
.second-footer__company {
	margin-right: 50px;
	width: 270px;
}
.copyright {
	display: flex;
	margin-left: auto;
}
.copyright .feedback {
	margin-right: 50px;
}
.copyright a {
	color: #ffd180;
	text-decoration: none;
}
.copyright a:hover {
	color: #ffd180;
	text-decoration: underline;
}
.copyright a:active {
	color: #e13643;
	text-decoration: none;
}
.social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 50px;
	flex: 1 1 auto;
	flex-wrap: wrap;
}
.social__item {
	display: flex;
	justify-content: center;
	background-color: #212a3a;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.social__item:hover,
.social__item:active {
	background-color: #ee3643;
}
.social__item-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.social__item svg {
	max-height: 20px;
	max-width: 20px;
}

/* caruSEL" */
.slider .owl-carousel .owl-nav .owl-prev,
.slider .owl-carousel .owl-nav .owl-next {
	position: absolute;
	transform: translateY(-50%);
	padding: 50px 7px !important;
}
.owl-prev {
	top: 50%;
	left: 0;
}
.owl-next {
	top: 50%;
	right: 0;
}
.slider .owl-carousel .owl-dots {
	position: absolute;
	bottom: 27px;
	left: 50%;
	transform: translateX(-50%);
}
.owl-theme .owl-dots .owl-dot span {
	box-sizing: border-box;
	border: 2px solid #fff;
	background-color: #fff;
}
.owl-theme .owl-dots .owl-dot.active span {
	background-color: #ee3643;
}
.owl-theme .owl-dots .owl-dot:focus {
	outline: none;
}
/* Контент каталога */

.breadcrumbs {
	display: inline-flex;
	list-style: none;
	margin: 0;
	flex-wrap: wrap;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	padding: 0;
}
.breadcrumbs > * {
	margin-right: 15px;
}
.breadcrumbs__item {
	padding: 21px 0;
}
.breadcrumbs__item-link {
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}
.separator,
.breadcrumbs__item {
	display: flex;
	align-items: center;
	justify-content: center; 
}
.headline-inner {
	width: 100%;
	background-color: #f2f6f8;
	padding: 0 30px;
	margin-bottom: 20px;
}
.headline-catalog {
	font-family: 'Cuprum', sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: normal;
	margin: 30px 0;
	text-transform: uppercase;
}
.wrap-content {
	display: flex;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 60px;
}
.filter {
	width: 220px;
	margin-right: 20px;
	text-transform: uppercase;
	flex: 1 0 auto;
	overflow: hidden;
}
.listing {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	width: 700px;
}
.listing .item:nth-child(3n) {
	margin-right: 0;
}
.bg-auxiliary {
	background-color: #f7f3ec;
	border-radius: 5px;
}
.filter__title {
	padding: 10px 20px;
	font-size: 13px;
	line-height: 18px;
}
.filter fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	padding-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 5px;
}
.filter fieldset:last-of-type {
	border-bottom: none;
	margin-bottom: 55px;
}
.filter legend {
	padding: 13px 0 12px;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
}
.filter label {
	font-size: 15px;
	line-height: 20px;
	padding-left: 35px;
	position: relative;
}
.filter ul {
	margin: 0;
	padding: 0;
}
.price__content {
	padding: 30px 20px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 10px;
}
.price__value {
	display: flex;
}
.price__value div {
	padding: 10px;
	width: 95px;
	box-sizing: border-box;
}
.price__value input {
	max-width: 75px;
	text-align: center;
	border: 0;
	background-color: inherit;
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	line-height: 18px;
}
.price__value input:focus {
	outline: none;
}
.price__value-separate {
	display: block;
	width: 10px;
	height: 1px;
	background-color: #000;
	align-self: center;
	margin: 0 10px;
}
.filter__item {
	margin-bottom: 20px;
	list-style: none;
}
.filter__item:last-child {
	margin-bottom: 0;
}
.filter__input--checkbox,
.filter__input--radio {
	display: none;
}
.filter__checkbox,
.filter__radio {
	text-overflow: ellipsis;
	cursor: pointer;
}
.filter-indicator {
	position: absolute;
	content: "";
	max-width: 27px;
	height: 23px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.checkbox-off,
.radio-off {
	fill: #c5c5c5;
}
.checkbox-on,
.radio-on {
	display: none;
	fill: #c5c5c5;
}
.filter__checkbox:hover .checkbox-off,
.filter__radio:hover .radio-off {
	fill: #b5b5b5;
}
.filter__input--checkbox:checked + .filter__checkbox .checkbox-off,
.filter__input--radio:checked + .filter__radio .radio-off {
	display: none;
}
.filter__input--checkbox:checked + .filter__checkbox .checkbox-on,
.filter__input--radio:checked + .filter__radio .radio-on {
	display: block;
}
.filter__checkbox:hover .checkbox-on,
.filter__radio:hover .radio-on {
	fill: #b5b5b5;
}
.filter__input--checkbox:disabled + .filter__checkbox,
.filter__input--radio:disabled + .filter__radio {
	opacity: 0.4;
}
.filter__submit {
	text-transform: uppercase;
	font-family: inherit;
	font-size: 13px;
	line-height: 18px;
	padding: 9px 38px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	background-color: #fff;
	cursor: pointer;
}
.filter__submit:hover {
	border: 1px solid #d5d5d5;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.2);
	transition: .15s;
}
.filter__submit:active {
	border: 1px solid #aaaaaa;
	transition: .1s;
}
.filter__submit:focus {
	outline: none;
}
.listing__sort {
	display: flex;
	margin-bottom: 20px;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size: 13px;
	line-height: 18px;
}
.sort__links-wrap {
	margin-left: auto;
	display: flex;
}
.sort__links-wrap a {
	text-decoration: none;
	border-bottom: 1px dotted #ee3643;
	color: #b2b2b2;
}
.sort__links-wrap a:hover {
	border-bottom: 1px solid #ee3643;
	color: #000;
}
.sort__links-wrap a:active,
.sort__links-wrap a.active {
	border-bottom: none;
	color: #ee3643;
}
.sort__functional {
	margin-left: 65px;
}
.sort__type {
	margin-left: 70px;
}
.sort__toggle {
	width: 45px;
	margin-left: 45px;
	position: relative;
}
.sort__toggle .toggle__up {
	position: absolute;
	left: 0;
	bottom: 5px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #c5c5c5;
}
.sort__toggle .toggle__down {
	position: absolute;
	right: 0;
	bottom: 5px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 11px solid #c5c5c5;
	border-bottom: 0;
}
.sort__toggle .toggle__up:hover {
	border-bottom: 11px solid #000;
}
.sort__toggle .toggle__up:active,
.sort__toggle .toggle__up--active {
	border-bottom: 11px solid #ee3643;
}
.sort__toggle .toggle__down:hover {
	border-top: 11px solid #000;
	border-bottom: 0;
}
.sort__toggle .toggle__down:active,
.sort__toggle .toggle__down--active {
	border-top: 11px solid #ee3643;
}
.pagination {
	display: flex;
	font-family: inherit;
	font-size: 13px;
	line-height: 18px;
}
.pagination a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
	padding: 9px 16px;
	margin-right: 10px;
	border-radius: 3px;
}
.pagination a:hover {
	border: 1px solid #bdc6ca;
	transition: 0.15s;
}
.pagination a:focus,
.pagination a:active {
	border: 1px solid #ee3643;
	transition: 0.1s;
}
.pagination > a {
	padding: 9px 30px;
}
.pagination__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.pagination__item {
	display: flex;
}
.pagination__prev--disabled {
	display: none;
}
.pagination__item .pagination__item-link--active {
	background-color: #ee3643;
	color: #fff;
	border: 1px solid #ee3643;
}
.pagination__item .pagination__item-link--active:hover {
	border: 1px solid #ee3643;
}
.wrap-text {
	background-color: #f2f6f8;
}
.seo-text {
	padding: 80px 0 45px;
}
.seo-text h2, .seo-text h3 {
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
}
.seo-text h2 {
	font-size: 25px;
	line-height: 25px;
	margin: 5px 0 40px
}
.seo-text p {
	margin: 10px 0 20px;
	font-size: 13px;
	line-height: 24px;
	font-family: 'PT Sans', sans-serif;
}
.cart-full {
	background-color: #ee3643;
}
.top-menu .cart-full:hover {
	background-color: #ca2c37;
}
.top-menu .cart-full:active,
.top-menu .cart-full:focus {
	background-color: #ba2732;
}
.modal {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	z-index: 10;
}
.write-us {
	display: none;
	width: 620px;
	border-top: 7px solid #ff5357;
	font-size: 18px;
	line-height: 18px;
	box-shadow: 0 10px 50px 10px rgba(0,0,0,.3);
	background-color: #fff;
}
.write-us input,
.write-us textarea {
	box-sizing: border-box;
	margin-top: 10px;
	border: 2px solid #dee3e4;
	border-radius: 3px;
	font-size: 13px;
	line-height: 18px;
	padding: 8px 14px;
}
.write-us__form {
	position: relative;
}
.write-us__form-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 45px 80px 0;
}
.write-us__name,
.write-us__email {
	margin-bottom: 20px;
}
.write-us__name input,
.write-us__email input {
	width: 220px;
}
.write-us__text,
.write-us__text textarea {
	width: 100%;
}
.write-us__text textarea {
	height: 114px;
	resize: none;
}
.write-us__text {
	margin-bottom: 40px;
}
.write-us__btn-inner,
.cart-add__btn-inner {
	background-color: #f4f4f4;
	padding: 37px 80px;
}
.whrite-us__btn {
	width: 100%;
	border: none;
}
.modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.modal-close::after,
.modal-close::before {
	content: "";
	position: absolute;
	width: 27px;
	height: 5px;
	background-color: #ee3643;
	top: 10px;
}
.modal-close::after {
	transform: rotate(45deg);
}
.modal-close::before {
	transform: rotate(-45deg);
}
.map-popup {
	width: 960px;
	box-shadow: 0 0 25px 5px rgba(0,0,0,.3);
	display: none;
}
.cart-add {
	width: 620px;
	border-top: 7px solid #ff5357;
	font-size: 18px;
	line-height: 18px;
	box-shadow: 0 10px 50px 10px rgba(0,0,0,.3);
	background-color: #fff;
	display: none;
}
.cart-add__message-inner {
	display: flex;
	padding: 50px 80px;
	align-items: center;
	font-size: 30px;
	line-height: 30px;
}
.cart-add__message-inner img {
	margin-right: 30px;
}
.cart-add__btn-inner {
	display: flex;
	justify-content: space-between;
}
.cart-add__btn {
	width: 220px;
	border: 0;
}
.cart-add__btn-checkout {
	padding: 10px 60px;
}
.cart-add__btn-continue {
	padding: 10px 45px;
	color: #000;
	background-color: #fff;
}
.cart-add__btn-continue:hover {
	background-color: #fff;
	color: #ee3643;
}
.cart-add__btn-continue:active {
	background-color: #fff;
	color: #c5c5c5;
}
@keyframes show {
	0% { transform: translate(-50%,-3000px); }
	60% { transform: translate(-50%,-35%); }
	75% { transform: translate(-50%,-55%); }
	90% { transform: translate(-50%,-45%); }
	100% { transform:translate(-50%,-50%); }
}
.modal-show {
	display: block;
	animation-name: show;
	animation-duration: 0.6s;
}